
.item-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.back-btn {
  outline: none;
  height: 40px;
  border: none;
  background-color: #fff;
  color: green;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 20px;
}